<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="icon" href="/assets/images/icons/cordeiro_lab_icon.png" type="image/png">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <link rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}">
</head>
<body>
    <header>
        <img src="/assets/images/Lab_Logo_2.png" alt="Lab Logo" class="logo">
    </header>
    
<main class="markdown-body">
  {{ content }}
</main>
  
    <footer>
      <a href="https://www.itqb.unl.pt" target="_blank">
        <img src="/assets/itqb_logo2.png" alt="Institute Logo" class="logo"; height: auto>
      </a>
        <p>This website is open-source and available on <a href="https://github.com/CordeiroLab/CordeiroLab.github.io" target="_blank">GitHub</a>.</p>
    </footer>
</body>
</html>
